.table {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);

  .day {
    min-width: 140px;
    min-height: 80px;
    color: black;
    border: 1px solid #e6dede;
  }

  .weekend {
    background: #f2f2f2;
  }

  .today {
    background: #edf8eb;
  }
}